.navbar {
    background-color: $colour-bg-header !important;
    color: white;
    text-transform: uppercase;
    padding: 0;
}

.navbar-brand {
    font-family: "open sans", sans-serif;
    font-size: 36px;
    color: $colour-logo !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: $colour-secondary;
}

.navbar-collapse {
    z-index: 1;
}